.DS_Store
.env.local
.env.*.local
.idea
.vscode

*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

node_modules
npm-debug.log*
pnpm-debug.log*
Thumbs.db
yarn-debug.log*
yarn-error.log*
yarn.lock

_maps
dist
tmp/app.pid
